<div class="recommendation-component">
	<div class="recommendation-centered">

		<div class="item-container">
			<img src="assets/star-left.svg" alt="">
			<div class="item-header">
				<h4>
					Matt’s work is astounding, adding an extra spark to our marketing campaigns. His photography has enchanted our audiences and left a lasting impression.
				</h4>
			</div>

			<div class="item-tech-name">
				<p>
					DreamStudios
				</p>
			</div>
		</div>

		<div class="item-container">
			<img src="assets/star-right.svg" alt="">
			<div class="item-header">
				<h4>
					Matt never fails to surpass our expectations, uniquely portraying our brand’s emotions. It’s always a pleasure to collaborate with him.
				</h4>
			</div>
			
			<div class="item-tech-name">
				<p>
					IlluminoTech
				</p>
			</div>
		</div>

	</div>
</div>
