.pictures-portfolio-component {
	height: 350px;
	width: 100%;
	background-color: rgba(204, 230, 244, 0.603);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	overflow: hidden;


	@media screen and (min-width:768px) and (max-width:1023px) {
		grid-template-columns: repeat(3, 1fr);
		height: auto;
	}

	@media screen and (max-width:768px) {
		grid-template-columns: 1fr;
		height: auto;
	}

	.container {
		max-width: 1000px;
		justify-content: center;
		align-items: center;
		display: flex;
		position: relative;



		img {
			height: 200px;
			z-index: 10;
			cursor: pointer;
			border: 6px solid rgba(204, 230, 244, 0.1);
			padding: 15px;
			border-radius: 19px;
			transition: all .3s ease-in-out;

			@media screen and (min-width:768px) and (max-width:1023px) {
				height: 250px;
			}

			@media screen and (max-width:768px) {
				height: 300px;
			}

			&:hover {
				padding: 20px;
				border: 9px solid black;
				border-radius: 166px;
				border-bottom: 70px solid rgba(204, 230, 244);
				transform: scale(1.1);
			}

			&:active {
				background-color: black;
				border: 0px solid gray;
				transition: all .3s ease;
			}
		}

	}
}