<div class="content-component">
	<div class="content-component-title">
		<h1>Meet Matt Perry, Amsterdam's Marvel</h1>
		<div class="content-component-description-box">

			<div class="description-paragraph">
				<p>
					From dark alleys to tulip-laden fields, Matt Perry’s lens knows no boundaries. With years of experience capturing breathtaking instants, he’s redefining photography in Amsterdam.
				</p>
			</div>

			<div class="description-data-box">
				<div class="box-one">
					<h4>12</h4>
					<p>Exhibitions Held</p>
				</div>
				<div class="box-two">
					<h4>400</h4>
					<p>Clients Satisfied</p>
				</div>
				<div class="box-three">
					<h4>50</h4>
					<p>Awards Won</p>
				</div>
			</div>


		</div>
	</div>
</div>
