.locations-component {
	width: 100%;
	background-color: rgb(204, 230, 244);
	display: flex;
	justify-content: center;
	padding: 20px;
	height: auto;

	.locations-component-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		max-width: 1000px;
		gap: 5px;

		@media screen and (min-width: 768px) and (max-width: 1023px) {
			/* CSS-stijlen voor tablets */
			max-width: 800px;
		}

		@media screen and (max-width: 767px) {
			/* CSS-stijlen voor mobiele apparaten */
			max-width: 760px;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}

		.card {
			display: flex;
			flex-direction: column;
			gap: 15px;

			img {
				height: 480px;
				width: 480px;
				border-radius: 15px;
				padding: 2px;
				filter: grayscale(100%);
				object-fit: fill;

				@media screen and (min-width: 768px) and (max-width: 1023px) {
					/* CSS-stijlen voor tablets */
					height: 480px - 150px;
					width: 480px - 150px;
				}

				@media screen and (max-width: 767px) {
					/* CSS-stijlen voor mobiele apparaten */
					margin: auto;
				}

				@media screen and (max-width:450px) {
					max-width: 300px;
					max-height: 300px;
				}
			}


			.card-description {
				display: flex;
				flex-direction: column;
				gap: 15px;
				margin-bottom: 15px;

				@media screen and (max-width: 767px) {
					/* CSS-stijlen voor mobiele apparaten */
					max-width: 500px;
				}

				h4 {
					font-family: 'Orelega One', serif;
					color: rgb(23, 86, 118);
					font-size: 32px;

					@media screen and (min-width: 768px) and (max-width: 1023px) {
						/* CSS-stijlen voor tablets */
						font-size: 32px;
					}

					@media screen and (max-width: 767px) {
						/* CSS-stijlen voor mobiele apparaten */
						font-size: 34px;
					}
				}

				p {
					font-family: 'Zilla Slab', serif;
					font-size: 20px;

					@media screen and (min-width: 768px) and (max-width: 1023px) {
						/* CSS-stijlen voor tablets */
						font-size: 24px;
					}

					@media screen and (max-width:768px) {
						font-size: 27px;
					}
				}
			}
		}
	}
}