<div class="locations-component">
	<div class="locations-component-grid">
		<div class="card">
				<img src="assets/sunrise-serenity.webp" alt="">
			<div class="card-description">
				<h4>Sunrise Serenity</h4>
				<p>
					Capturing Amsterdam’s canals where dreams come alive with every beam of light.
				</p>
			</div>
		</div>

			<div class="card">
				<img src="assets/turnip-tornado.webp" alt="">
			<div class="card-description">
				<h4>Tulip Tornado</h4>
				<p>
					Ambitious shots of Dutch tulips in full bloom at Keukenhof Gardens, embodying nature’s true beauty.
				</p>
			</div>
		</div>

		<div class="card">
				<img src="assets/urban-wonderland.webp" alt="">
			<div class="card-description">
				<h4>Urban Wonderland</h4>
				<p>
					Transforming ordinary streets into mesmerizing murals with daring creativity.
				</p>
			</div>
		</div>

		<div class="card">
				<img src="assets/skyline.webp" alt="">
			<div class="card-description">
				<h4>Above N’ Beyond</h4>
				<p>
					Climbing to extraordinary heights, unveiling Amsterdam’s unparalleled skyline.
				</p>
			</div>
		</div>
	</div>
</div>
